@import './theme.module.scss';

::selection {
  background: $selection;
}
::-moz-selection {
  background: $selection;
}

html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  background: $background-dark;
  color: $string-color;
}

div {
  box-sizing: border-box;
}

h1 {
  margin: 12px 0 6px 0;
  text-align: center;
  font-family: 'Limelight';
  font-size: 2.8em;
  color: $neon-teal;
}

h2 {
  margin: 12px 0 6px 0;
  font-family: 'Limelight';
  font-size: 1.8em;
  color: $neon-teal;
}

h4 { // subheading
  margin: 6px 0;
  text-align: center;
  font-size: 0.84em;
  font-weight: 200;
}

p {
  line-height: 1.6em;
  font-size: 0.8em;
}

a {
  transition: color 0.2s;
  color: $neon-teal;

  &:hover {
    color: $neon-teal-bright;
  }
}

hr {
  width: 50%;
  height: 1px;
  background: $string-color-transparent;
  // background: $gold-gradient;
  border: none;
}
