@import './theme.module.scss';

canvas#canvas {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

div.slideshow {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/photo/JW-slideshow.jpg);
  background-size: cover;
  // filter: brightness(28%);

  div.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;

    div.logo-holder {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    div.title-holder {
      margin: 12px 0 4px;
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      color: #fff;
    }
  }
}

div.sidebar {
  position: relative;
  top: calc(100vh - $guitar-neck-width);
  width: 100vw;
  min-height: 100vh;

  div.sidebar-strings {
    div.string {
      width: 100%;
      margin-top: $guitar-string-gap;
      height: $guitar-string-width;
      background: $string-color-transparent;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  div.sidebar-content {
    margin: 0 auto;
    background: $background;

    $section-padding: 24px;

    section {
      padding: calc($section-padding / 2) $section-padding calc($section-padding / 2) $section-padding;
    }

    section#intro,
    hr.intro {
      display: none;
    }

    section#bio {
      iframe {
        margin: 12px 0;
      }
    }

    section#contact {
      padding-bottom: $section-padding;
    }

    section#footer {
      padding-bottom: $section-padding;
      text-align: center;
      color: #fff3;

      p {
        margin: 4px 0;
        
        a {
          color: #fff3;
          
          &:hover {
            color: #fff4;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $md-breakpoint) {
  canvas#canvas {
    display: block;
  }

  div.slideshow {
    width: $sidebar-left;

    div.header {
      display: none;
    }
  }

  $sidebar-width: calc(100vw - $sidebar-left);

  div.sidebar {
    position: fixed;
    top: 0;
    left: $sidebar-left;
    width: $sidebar-width;
    height: 100%;
    padding: 0 $sidebar-padding 0 $sidebar-guitar-offset;
    box-shadow: -140px 0px 80px 9px #0008;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $background;

    div.sidebar-strings {
      display: none;
    }

    div.sidebar-content {
      max-width: 540px;

      section {
        padding: 24px 0 !important;
      }

      section#intro, hr.intro{
        display: block;
      }

      section#intro {
        min-height: 100%;
        padding: 0 !important;
        border: 1px solid #0000;

        div.intro-content {
          position: relative;
          top: 50vh;
          transform: translateY(-50%);
        }
      }
    }
  }
}