@import './theme.module.scss';

canvas#canvas {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

div.slideshow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(https://coolwalls.ca/cdn/shop/files/bandw-brooklyn-bridge-with-nyc-in-background-wallpaper-peel-n-stick-and-removes-easily-anytime-coolwalls-ca.jpg?v=1692044962);
  background-size: cover;
  // filter: brightness(28%);
}

div.sidebar {
  position: relative;
  top: 80vh;
  width: 100vw;
  min-height: 100vh;
  background: $background;
}

@media only screen and (min-width: $md-breakpoint) {
  canvas#canvas {
    display: inline;
  }

  div.slideshow {
    width: $sidebar-left;
  }

  $sidebar-width: calc(100vw - $sidebar-left);

  div.sidebar {
    position: fixed;
    top: 0;
    left: $sidebar-left;
    width: $sidebar-width;
    height: 100%;
    padding: 0 $sidebar-padding 0 $sidebar-guitar-offset;
    box-shadow: -140px 0px 80px 9px #0008;
    overflow-y: scroll;
    overflow-x: hidden;

    div.sidebar-content {
      margin: 0 auto;
      max-width: 540px;

      section {
        padding: 24px 0;
      }

      section#intro {
        min-height: 100%;
        border: 1px solid #0000;

        div.intro-content {
          margin-top: 50vh;
          transform: translateY(-100%);
        }
      }

      section#bio {
        iframe {
          margin: 12px 0;
        }
      }

      section#footer {
        text-align: center;
        color: #fff3;

        a {
          color: #fff3;

          &:hover {
            color: #fff4;
          }
        }
      }
    }
  }
}