@import './theme.module.scss';

canvas#canvas {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

div.slideshow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(https://coolwalls.ca/cdn/shop/files/bandw-brooklyn-bridge-with-nyc-in-background-wallpaper-peel-n-stick-and-removes-easily-anytime-coolwalls-ca.jpg?v=1692044962);
  background-size: cover;
  // filter: brightness(28%);
}

div.sidebar {
  position: relative;
  top: 80vh;
  width: 100vw;
  min-height: 100vh;
  background: $background;
}

@media only screen and (min-width: $md-breakpoint) {
  canvas#canvas {
    display: inline;
  }

  $sidebar-left: calc(50vw + $guitar-neck-width / 2 + $sidebar-guitar-offset);
  div.slideshow {
    width: $sidebar-left;
  }

  $sidebar-width: calc(100vw - $sidebar-left);
  div.sidebar {
    position: fixed;
    top: 0;
    left: $sidebar-left;
    width: $sidebar-width;
    height: 100%;
    box-shadow: -140px 0px 80px 9px #0008;
    padding: $sidebar-padding $sidebar-padding $sidebar-padding $sidebar-guitar-offset;
  }
}
